.footer {
  margin-top: 5rem;
}

.navItems {
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
}

.navItem a:any-link {
  color: var(--textColor);
  font-weight: 400;
}