.footer {
  margin-top: 2rem;
}

.navItems {
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
}

.navItem a:any-link {
  color: black;
}

@media (prefers-color-scheme: dark) {
  .navItem a:any-link {
    color: white;
  }
}