.plansContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
    gap: 18px;
}

.card {
    background-color: var(--backOffsetColor);
    padding: 1.6rem;
    border-radius: 8px;
    opacity: .99;
    min-height: 362px;
    min-width: 275px;
}

.card h2 {
    margin-top: 2px;
}

.card .button {
    margin: 30px 0 7px 0;
}

.card .button a {
    color: #000;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
}

.card .button a:hover {
    text-decoration: underline;
}

/* Media query for mobile */

@media (max-width: 768px) {
    .plansContainer {
        flex-direction: column;
    }
}

