:root {
  color-scheme: dark light;
  --backOffsetColor: rgba(0, 0, 0, 0.05);
  --textColor: black;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  padding: 0 1rem 1rem 1rem;
  max-width: 1080px;
  margin: 0 auto;
}

li,
p {
  line-height: 1.5rem;
}

a {
  font-weight: 500;
}

hr {
  border: 1px solid #ddd;
}

iframe {
  background: #ccc;
  border: 1px solid #ccc;
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  filter: invert(1);
}

a:any-link {
  color: rgb(0, 0, 238);
  text-decoration: none; 
}

a:any-link:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  a:any-link {
      color: rgb(208, 173, 240);
  }
  :root {
    --backOffsetColor: rgba(0, 0, 0, 0.39);
    --textColor: white;
  }
}